div#divNumeroTop {
    height: 28px;
    background-color: rgb(3, 0, 133);
    color: whitesmoke;
}

p#numnav {
    font-weight: bold;
    width: 894px;
    height: 25px;
    margin: auto;
    padding-top: 5px;
}

/*css da imagem do navbar*/
img#imgnav {

    display: block;
    margin-left: 2%;
}

/*css do navbar*/
nav#navheader {

    height: 30px;
    font-size: larger;
    z-index: 1000;
    margin-top: 70px;
}

ul.navbar {

    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    z-index: 1000;


}

li.navitem {

    float: left;
    text-align: right;
    margin-left: 40px;
}

li.navitem a {

    width: 100px;
    height: 450px;
    color: rgb(188, 188, 188);
    text-align: center;

}



/* Estilos de CSS para os subitens */
.subitens {
    width: 120px;
    height: 60px;
    display: none;
    position: absolute;
    list-style-type: none;
    padding: 0;
    text-align: center;
    font-size: large;
}
li.navitem:hover ul.subitens {
    display: block;
}
.subitem {
    background-color: rgb(2, 0, 133);
    height: 20px;
}

/* Estilos para sub-subitens */
.subsubitens {
    width: 120px;
    display: none;
    position: relative;
    background-color: rgb(4, 1, 154);
    list-style-type: none;
    left: 100%;
    bottom: 100%;
    padding: 0;
    text-align: center;

}

li.subitem:hover ul.subsubitens {
    display: inline-block;
}