/*Body*/
body {
    text-align: right;
    margin: auto;
    font-family: Arial, sans-serif;
}

header {
    width: 894px;
    height: 120px;
    margin: auto;
    display: flex;
}

h1 {
    color: rgb(137, 137, 137);
}
a{
    text-decoration: none;
}
footer{
    background-color: rgb(69, 69, 69);
    height: 180px;
    
}