body {
    text-align: right;
    margin: auto;
    font-family: Arial, sans-serif;
}

header {
    width: 894px;
    height: 100px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    border-bottom: 0.5px solid #00000036;
}

h1 {
    color: rgb(137, 137, 137);
}

a {
    text-decoration: none;
}

footer {
    background-color: rgb(69, 69, 69);
    height: 180px;

}