section#conteudoum {
    display: flex;
    width: 894px;
    height: 290px;
    margin: auto;
    border-top: 0.5px solid #00000036;
}

p#conteudoum {
    color: rgb(134, 134, 134);
    text-align: left;
    width: 569px;
}

li.requisitosp {
    color: rgb(134, 134, 134);
    margin-left: 3%;
}