section#conteudodois {
    width: 894px;
    height: 350px;
    margin: auto;
}

div#cardsdestaque {
    display: flex;
    text-align: left;
    justify-content: space-between;
}

div.card {
    width: 200px;
    height: 220px;
    margin: auto;
}

div.card a {
    color: rgba(54, 53, 53, 0.727);
}

img.imgcard {
    width: 196px;
    height: 163px;
}